<h1>Listing projects (with number of bids lower than 5)</h1>

<table>
  <tr>
    <th>Title</th>
    <th>State</th>
    <th>Bids</th>
    <th>Cipher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><a href=http://odesk.com/jobs/<%= project.cipher %>><%= project.title %></a></td>
    <td><%= project.state %></td>
    <td><%= project.bids %></td>
    <td><%= project.cipher %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
